<h1>Shipping Rates</h1>

<% @rates.each do |rate| %>
  <p>
    <%= rate["service_name"] %>:

    <% if rate["carrier"] == "FedEx" %>
      <%= number_to_currency(rate["total_price"] / 100) %>
    <% elsif rate["carrier"] == "USPS" %>
      <%= number_to_currency(rate["package_rates"].first["rate"] / 100) %>
    <% end %>
  </p>
<% end %>
